/*Computadora*/
body{
	margin:0;
}
.cont1{
	text-align: center;
	background-color: #32618D;
	width: 100%;
	text-align: center;
}
.cuadros{
	display: inline-block;
	width: 250px;
	border-style: solid;
}
.redes{
	float: right;
	text-align: right;
	width: 80px;
}
.logo{
	float: center;
	text-align: center;
	width: 180px;
}
.opciones{
	display: inline-block;
	margin: 0;
    width: 13%;

}
.imagen{
	width: 250px;
}
.oferta{
	text-align: center;
	width: 100%
}
.arial{
	font-family: "Arial";
	color:#3A5482;
	font-weight: bold;
}
.contacto{
	width: 100%;
	font-family: "Arial";
	font-size: 13px;
	background-color: #8dabc2;
	text-align: center;
	height: 35px;
	float: top;
}
.formulario{
	display: block;
	padding-top: 20px;
	text-align: top;
	margin-bottom: 10px;
	color:#878787;
	border-radius:3.5px;
}
.btn
{
	background-color: #32618d;
	color: white;
	display: inline-block;
	padding: 5px 40px;
	margin-left: 850px;
	font-family: Arial;
	text-decoration:none;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	border:1px solid;
}
.pie{
	background-color: #32618d;
	color: orange;
	font-family: arial;
	text-align: center;
	width: 100%;
	height: 50px;
	font-size: 15px;
}
.lado-foto{
	display: inline-block;
}
.parrafo{
	height: 40px;
	font-family: "Arial";
	color: #32618D;
	padding-top: 15px;
	font-size: 15px;
	font-weight: bold;
	text-align:center;
	width: 100%
	

}

/*Movil*/

@media screen and (max-width: 1200px)
{
body{
	margin: 0;
}

.cont1{
	background-color:#326181 ;
	width: 100%;
	height: 100px;
}
.cuadros{
	background-color: #ededed;
	width: 100%;
	display: block;
	border-style: none;
	text-align: center;
	align-content: center;
	border-style: solid;
}
.redes{
	float: right;
	text-align: right;
	width: 80px;
}
.logo{
	float: center;
	margin-top:1px;
	text-align: center;
	width: 340px;
}
.opciones{
	display: inline-block;
	margin: 0;
    width: 13%;
}

.lados{
	text-decoration-color: blue;
	text-align: center;
	font-weight: bold;
	float: center;
	display: inline-block;
}
.imagen{
	width: 600px;

}
.oferta{
	font-size: 30px;
	text-align: center;
	width: 100%;
}
.arial{
	font-family: "Arial";
	color:#3A5482;
	font-weight: bold;
}
.contacto{
	width: 100%;
	font-family: "Arial";
	font-size: 30px;
	background-color: #8dabc2;
	text-align: center;
	height: 50px;
}
.formulario{
	display: inline-grid;
	padding-top: 20px;
	text-align: top;
	font-size: 20px;
	margin-bottom: 10px;
	color:#878787;
	border-radius:3.5px;
}
.btn
{
	background-color: #32618d;
	width: 20%;
	color: white;
	font-family: Arial;
	border-radius: 50px;
	margin: auto;
	font-size: 36px;
}
.pie{
	background-color: #32618d;
	color: orange;
	font-family: arial;
	text-align: center;
	width: 100%;
	height: 70px;
	font-size: 20px;
}
.bajar-foto{
	display: block;
}
.lado-foto{
	float: center;
}
.centro{
	text-align: center;
}
.parrafo{

	height: 40px;
	font-family: "Arial";
	color: #32618D;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align:center;
	width: 100%
}
}
